<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    <title>Расписание занятий!</title>
</head>
<body>
<h1>Расписание занятий!</h1>


<table style="border: 1px solid black">
    <thead>
    <tr>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
    </tr>
    </thead>
    <tr>
        <td>-</td>
        <td>В/м лекция</td>
        <td>-</td>
        <td>-</td>
        <td>Физика лекция</td>

    </tr>
    <tr>
        <td>ТЯП лекция</td>
        <td>В/м практика</td>
        <td>Англ. яз</td>
        <td>Философия лекция</td>
        <td>Физика практика</td>

    </tr>
    <tr>
        <td>Физ. культура</td>
        <td>Информатика</td>
        <td>ТЯП практика</td>
        <td>Строка 3 Столбец 4</td>
        <td>ТФКп практика</td>
    </tr>
    <tr>
        <td>ТФКп лекция</td>
        <td>-</td>
        <td>Физ. культура</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>ТЯП л/р</td>
        <td>-</td>
        <td>Философия практика</td>
        <td>-</td>
        <td>-</td>
    </tr>
</table>
</body>
</html>
